.header-container { 
    display: flex;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
    /* background: #dfdfdf; */
    padding: 2rem 0;
    box-sizing: border-box;
}

.header-right{
    max-width: 50%;
    font-size: 2rem;
    width: 30%;
    color: #00000090;
}

.header-left{
    max-width: 50%;
    width: 30%;

}

.header-image{
    width: 50%;
}

@media only screen and (max-width: 600px) {
  .header-container { 
    flex-direction: column;
    width: 100%;
    padding: 0;
    text-align: center;
}

.header-right{
    font-size: 1.2rem;
    width: 100%;
    color: #00000090;
    text-align: center;
}

.header-left{
    width: 50%;
}

.header-image{
    width: 60%;
}

}