.header-container { 
    display: flex;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
    /* background: #dfdfdf; */
    padding: 2rem 0;
    box-sizing: border-box;
}

.header-right{
    max-width: 50%;
    font-size: 2rem;
    width: 30%;
    color: #00000090;
}

.header-left{
    max-width: 50%;
    width: 30%;

}

.header-image{
    width: 50%;
}