.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 ;
    background: #e10019;
    color: #dfdfdf;
    padding: 2rem 0;
}

.footer-title{
    font-style: italic;
    font-size: 3rem;
}

.footer-about-us{
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
    margin: 20px 0;
}

.footer-social{
    display: flex;
    width: 18%;
    justify-content: space-around;
    margin-top: 20px;
    list-style: none;
}

.footer-social:hover{
    cursor: pointer;
}