.home-divider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    background-color: #dfdfdf;
    color: rgb(53, 53, 53);
    font-size: 1.8rem;
    font-weight: 400;
    font-style: italic;
}

@media only screen and (max-width: 600px) {
  .home-divider{
      font-size: 1rem;
      height: 4rem;
      margin-top: 2rem;
  }
}