.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 3rem;
    background-color: #e10019;
    border-bottom: 1px solid #c2c2c2;
    width: 100%;
    box-sizing: border-box;
}

.nav-logo{
    width: 45px;
}

.nav-list{
    display: flex;
    list-style: none;
    color: #fff;
}

.nav-item{
    font-size: 1.125rem;
    margin: 0 20px;
}